<div class="container">
    <form method="post">
        <h2 class="mt-4">Update Bet</h2>
        <div class="form-group">
            <label for="input1">Title</label>
            <input name="title" type="text" class="form-control" id="input1" value="<?php echo $data['title']; ?>" readonly disabled>
        </div>
        <input type="hidden" name="title" value="<?php echo $data['title']; ?>">
        <div class="form-group">
            <label for="input2">Description</label>
            <input name="description" type="text" class="form-control" id="input2" placeholder="Line: 500.5" value="<?php echo $data['description']; ?>">
        </div>
        <div class="form-group">
            <label for="input3">Closing</label>
            <input type="time" class="form-control" id="input3" name="closing" placeholder="08:00 PM" value="<?php echo $data['closes']; ?>">
        </div>
        <div class="form-group">
            <label for="input4">Type</label>
            <select class="form-control" id="input4" name="type" readonly disabled>
                <option <?php if ($data['type'] == 'Quick Pick') { echo 'selected'; } ?>>Quick Pick</option>
                <option <?php if ($data['type'] == 'Over/Under') { echo 'selected'; } ?>>Over/Under</option>
                <option <?php if ($data['type'] == 'Hit (Yes/No)') { echo 'selected'; } ?>>Hit (Yes/No)</option>
            </select>
        </div>
        <input type="hidden" name="type" value="<?php echo $data['type']; ?>">
        <div class="form-group" id="a_group">
            <label id="a_label">Option A</label>
            <div class="row">
                <div class="col" id="over_title">
                    <input type="text" class="form-control" placeholder="Green" name="a_title" value="<?php echo $data['a_title']; ?>" readonly disabled>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="+250" name="a_odds" value="<?php echo $data['a_odds']; ?>" pattern="[\-\+]\d+" title="+ or -; followed by a whole number">
                </div>
            </div>
        </div>
        <div class="form-group" id="b_group">
            <label id="b_label">Option B</label>
            <div class="row">
                <div class="col" id="under_title">
                    <input type="text" class="form-control" placeholder="Red" name="b_title" value="<?php echo $data['b_title']; ?>" readonly disabled>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="+250" name="b_odds" value="<?php echo $data['b_odds']; ?>" pattern="[\-\+]\d+" title="+ or -; followed by a whole number">
                </div>
            </div>
        </div>
        <div class="form-group" id="c_group">
            <label id="c_label">Option C</label>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Yellow" name="c_title" value="<?php echo $data['c_title']; ?>" readonly disabled>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="+250" name="c_odds" value="<?php echo $data['c_odds']; ?>" pattern="[\-\+]\d+" title="+ or -; followed by a whole number">
                </div>
            </div>
        </div>
        <div class="form-group" id="d_group">
            <label id="d_label">Option D</label>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="White" name="d_title" value="<?php echo $data['d_title']; ?>" readonly disabled>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="+250" name="d_odds" value="<?php echo $data['d_odds']; ?>" pattern="[\-\+]\d+" title="+ or -; followed by a whole number">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="input5">Winner</label>
            <select class="form-control" id="input5" name="winner" <?php if (!empty($data['winner'])) { echo "readonly disabled"; }?>>
                <?php if (!empty($data['winner'])) { echo "<option>" . $data['winner'] . "</option>"; }?>
                <option value="">Pending</option>
                <option id="a_option"><?php echo $data['a_title']; ?></option>
                <option id="b_option"><?php echo $data['b_title']; ?></option>
                <option id="c_option"><?php echo $data['c_title']; ?></option>
                <option id="d_option"><?php echo $data['d_title']; ?></option>
                <option>Void</option>
            </select>
        </div>
        <input type="hidden" name="submit" value="update">
        <button type="submit" class="btn btn-primary mt-3">Update</button>
    </form>
</div>
<script type="text/javascript" src="helper.js"></script>
<script>
    document.getElementById('input4').dispatchEvent(new Event('change'));
</script>